---
permalink: "/404.html"
layout: base.njk
title: Page not found
---
<h1>Page not found</h1>
<p>Try going back to <a href="{{ '/' | url }}">Home</a> or the <a href="{{ '/recipes/page/1/' | url }}">All Recipes</a>.</p>
