---
layout: base.njk
title: All Recipes
pagination:
  data: recipes
  size: 20
  alias: pagedRecipes
  addAllPagesToCollections: true
permalink: "/recipes/page/{{ pagination.pageNumber + 1 }}/"
---

<h1>All Recipes</h1>

<ul class="recipe-list">
  {% for recipe in pagedRecipes %}
    <li>
      <a href="{{ ('/recipes/' + recipe.slugCategory + '/' + (recipe.filename | slug) + '/') | url }}">{{ recipe.title }}</a>
      <em> ({{ recipe.category }})</em>
    </li>
  {% endfor %}
</ul>

{% if pagination.pages.length > 1 %}
  <nav class="pagination">
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous | url }}">&laquo; Previous</a>
    {% endif %}

    Page {{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }}

    {% if pagination.href.next %}
      <a href="{{ pagination.href.next | url }}">Next &raquo;</a>
    {% endif %}
  </nav>
{% endif %}
