---
pagination:
  data: categories
  size: 1
  alias: category
permalink: "/categories/{{ category | slug }}/index.html"
layout: base.njk
eleventyComputed:
  breadcrumbs: "<a href='{{ '/' | url }}'>Home</a> / <a href='{{ '/categories/' | url }}'>Recipes</a> / {{ category }}"
---

<h1>{{ category }}</h1>

<ul>
  {% for recipe in recipes %}
    {% if recipe.category == category %}
      <li>
        <a href="{{ ('/recipes/' + recipe.slugCategory + '/' + (recipe.filename | slug) + '/') | url }}">
          {{ recipe.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>


