---
pagination:
  data: categories
  size: 1
  alias: category
permalink: "/categories/{{ category | slug }}/index.html"
layout: base.njk
eleventyComputed:
  breadcrumbs: "<a href='/'>Home</a> / {{ category }}"
---

<h1>{{ category }}</h1>

<ul>
  {% for recipe in recipes %}
    {% if recipe.category == category %}
      <li>
        <a href="/recipes/{{ recipe.filename | slug }}/">
          {{ recipe.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

