---
layout: base.njk
title: Home
---

<h1>Welcome to My Family Cookbook</h1>
<p>Select a category to view recipes:</p>

<ul>
  {% for category in categories %}
    <li>
      <a href="/categories/{{ category | slug }}/">{{ category }}</a>
    </li>
  {% endfor %}
</ul>
