---
layout: base.njk
title: Home
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>My Cookbook</title>
</head>
<body>
  <h1>Welcome to My Family Cookbook!</h1>
  <p>This is the starting index page. We'll add category links here next.</p>
</body>
</html>
