---
permalink: /search-index.json
eleventyExcludeFromCollections: true
layout: null
---
[
{%- for r in collections.recipes -%}
  {%- set recipeUrl = (r.urlPath or '/') | url -%}
  {{ {
    title: r.title or r.filename or '',
    category: r.category or '',
    tags: r.tags or [],
    url: recipeUrl
  } | dump | safe }}
  {%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
]



