---
pagination:
  data: collections.tagged
  size: 1
  alias: tagName
  addAllPagesToCollections: true
permalink: "/tags/{{ tagName | slug }}/"
layout: base.njk
---

<h1>Recipes tagged: {{ tagName }}</h1>

{% for recipe in collections.tagged[tagName] %}
  <div class="recipe-card">
    <a href="/recipes/{{ recipe.slugCategory }}/{{ recipe.filename | slug }}/">{{ recipe.title }}</a>
    {% if recipe.image %}
      <img src="/images/{{ recipe.image }}" alt="{{ recipe.title }}" style="max-width: 200px;">
    {% endif %}
    <p>{{ recipe.description }}</p>
  </div>
{% else %}
  <p>No recipes found for this tag.</p>
{% endfor %}




