---
pagination:
  data: collections.tagged     # paginate over the object itself (keys)
  size: 1
  alias: tagName
permalink: "/tags/{{ tagName | slug }}/"
layout: base.njk
---

<h1>Tag: {{ tagName }}</h1>

{% set items = collections.tagged[tagName] or [] %}
<ul>
  {% for r in items %}
    <li>
    <a href="{{ r.urlPath | url }}">
      {{ r.title or r.slugFilename }}
    </a>
    </li>
  {% endfor %}
</ul>







