---
pagination:
  data: collections.tagged | keys
  size: 1
  alias: tagName
permalink: "/tags/{{ tagName | slug }}/" 
layout: base.njk
---

<h1>Tag: {{ tagName }}</h1>

{% set items = collections.tagged[tagName] or [] %}
<p>{{ items | length }} {{ items | length == 1 ? "recipe" : "recipes" }}</p>

<ul>
  {% for r in items %}
    <li>
      <a href="{{ ('/recipes/' ~ r.slugCategory ~ '/' ~ r.slugTitle ~ '/') | url }}">
        {{ r.title or r.filename }}
      </a>
    </li>
  {% endfor %}
</ul>





