---
pagination:
  data: collections
  size: 1
  alias: tagCollection
  filter: tag => tag !== "all"
  addAllPagesToCollections: true
permalink: "/tags/{{ pagination.items[0] | slug }}/"
layout: base.njk
---

<h1>Recipes tagged: {{ pagination.items[0] }}</h1>

{% for recipe in tagCollection[pagination.items[0]] %}
  <div>
    <h2><a href="{{ recipe.url }}">{{ recipe.title }}</a></h2>
    {% if recipe.image %}
      <img src="/images/{{ recipe.image }}" alt="{{ recipe.title }}" style="max-width: 200px;">
    {% endif %}
  </div>
{% endfor %}
