---
layout: base.njk
title: Tags
permalink: "tags/"
---

<h1>Tags</h1>

<ul class="tag-list">
  {# collections.tagged is an object; iterate over its keys #}
  {% for tagName in collections.tagged | keys %}
    <li>
      <a href="{{ '/tags/' | url }}{{ tagName | slug }}/">
        {{ tagName | tagLabel }}
      </a>
      <em> ({{ collections.tagged[tagName].length }})</em>
    </li>
  {% endfor %}
</ul>






